<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Conoce de cerca a nuestra comunidad. <span class="text-muted"> Y unete de paso!</span></h2>
    <p class="lead">Nuestra comunidad bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla blabla bla bla bla bla blabla bla bla bla bla bla bla bla bla bla bla bla</p>
  </div>
  <div class="col-md-5">
    <%= image_tag('logo3', class: 'featurette-image img-fluid mx-auto') %>
  </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5 order-md-1">
    <%= image_tag('ssbu-cover-uhs', class: 'featurette-image img-fluid mx-auto') %>
  </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5">
    <%= image_tag('ssbu-cover-uhs', class: 'featurette-image img-fluid mx-auto') %>
  </div>
</div>
<hr class="featurette-divider">
